@{
  Layout = "_Layout";
}

@* @using RecipeBox.Models.Recipe *@
@model RecipeBox.Models.Recipe

<div class="header">Add a Tag</div>

<h4>Add a Tag to this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select tag")
  @Html.DropDownList("TagId")

  <input type="submit" value="Save" />
}

<p>Back to @Html.ActionLink("recipe list", "Index")</p> 