@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<div class="header">Recipe: @Html.DisplayFor(model => model.Name)</div>

<hr>

<p>Recipe Description: @Html.DisplayFor(model => model.Description)</p>

<p>Ingredients: @Html.DisplayFor(model => model.Ingredients)</p>

<p>Instructions: @Html.DisplayFor(model => model.Instructions)</p>

@* Here is where we could get fun and use a conditional to render boxing gloves instead of the word *@
<p>Rating: @Html.DisplayFor(model => model.Rating)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe is not associated with any tags yet</p>
}
else
{
  <h4>Tags associated with this recipe</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Tag.Name}", "Details", "Tags", new { id = join.Tag.TagId })</li>
      @using (Html.BeginForm("DeleteTag", "Recipes"))
      {
        @Html.Hidden("joinId", @join.TagRecipeId)
        <input type="submit" value="Delete" class="btn btn-default">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to all recipes", "Index")</p>
<p>@Html.ActionLink("Edit recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete recipe", "Delete", new { id = Model.RecipeId })</p>