@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>

<hr>

<h3>Recipe Description: @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe is not associated with any tags yet</p>
}
else
{
  <h4>Tags associated with this recipe</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Tag.Name</li>
      @using (Html.BeginForm("DeleteCategory", "Items"))
      {
        @Html.Hidden("joinId", @join.TagRecipeId)
        <input type="submit" value="Delete" class="btn btn-default">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to all recipes", "Index")</p>
<p>@Html.ActionLink("Edit recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete recipe", "Delete", new { id = Model.RecipeId })</p>