@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<h2>Tag details</h2>

<hr>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This tag does not have any associated recipes yet</p>
}
else
{
  <h4>Recipes with this tag:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Recipe.Name / @join.Recipe.Description</li>
    }
  </ul>
}

<p>@Html.ActionLink("Return to All Tags", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId})</p>
<p>@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId})</p>